! Cursor theme
Xcursor.theme:      DMZ-White

! Fonts
Xft.antialias:      true
Xft.hinting:        true
Xft.rgba:       rgb
Xft.hintstyle:      hintfull

URxvt.font: xft:monaco:size=10
!URxvt.font:     xft:UbuntuMono:size=11,xft:Fira Mono:size=11,xft:Hack:size=11,xft:FontAwesome:size=14
URxvt.letterSpace:      0
URxvt*lineSpace:        2

! Modifier Key
URxvt.modifier:     alt

! Borders
URxvt.internalBorder:       8
URxvt.externalBorder:       0

! ScrollBack
! URxvt*saveLines:        9999

! Disable scrollbar
URxvt.scrollBar:        false

! Underline URLs
URxvt.underlineURLs:        true

! Disable brightness drop on losing focus
URxvt*fading:       1

! Bliking Cursor
URxvt.cursorBlink: true

! Load perl plugins
URxvt.perl-ext-common:     clipboard,font-size,keyboard-select,matcher

! keyboard-select
! https://github.com/muennich/urxvt-perls
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! FullScreen
URxvt.keysym.F11:          perl:fullscreen:switch

! font-size keybindings
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show


URxvt.url-launcher:        /usr/bin/firefox
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1

URxvt*iso14755: False
URxvt*iso1475_52: False

! URL Matcher
! urxvt*matcher.button:        1
! urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! Copy & Paste
URxvt.keysym.C-C:   perl:clipboard:copy
URxvt.keysym.C-V:   perl:clipboard:paste

! ColorScheme
#include ".Xresources-colorscheme-tomorrow"
!#include ".Xresources-colorscheme-gruvbox"
